        
        .players {
			border-radius: 5px;
            padding: 10px;
            margin-bottom: 20px;
            background-image: url(websitebg.png);
            background-repeat: repeat-y;
            background-size: 100%;
		}
		table {
            width: 100%;
        }
        th, td {
            padding: 20px;
            text-align: center;
            border-bottom: 1px solid rgb(14, 4, 4);
            font-size: 18px;
            font-weight: 500;
        }
        th {
            font-size: 20px;
            font-style: italic;
        }
		